pip>=25.0
setuptools>=65.5.0
wheel
bcrypt 
cryptography
fastapi
python-multipart
python-jose
sqlalchemy 
uvicorn
passlib
python-dotenv
psycopg2-binary
chromadb==0.4.18
sentence-transformers==2.2.2
numpy==1.24.3
scikit-learn==1.3.0